<!-- Banner -->
<div class="banner">
    <img class="banner-img" src="/img/blackfriday10.png" alt="">
</div>
<!-- End Banner -->

<!-- Message-->
{{#if message}}
<div class="message">{{message}}</div>
{{/if}}

<!-- Product Categories -->
<div class="categories">
    <div id="cat-1" class="category">
        <h1>Cellphones & Acessories</h1>
        <a href="#"><img src="/img/catone.jpg" alt=""></a>
        <a href="#" class="label-see-more">See more</a>
    </div>

    <div id="cat-2" class="category">
        <h1>Luxury Chocolates</h1>
        <a href="#"><img src="/img/cattwo.jpg" alt=""></a>
        <a href="#" class="label-see-more">See more</a>
    </div>

    <div id="cat-3" class="category">
        <h1>Nutrition</h1>
        <a href="#"><img src="/img/catthree.jpg" alt=""></a>
        <a href="#" class="label-see-more">See more</a>
    </div>

    <div id="cat-4" class="category">
        <h1>Tools</h1>
        <a href="#"><img src="/img/catfour.jpg" alt=""></a>
        <a href="#" class="label-see-more">See more</a>
    </div>
</div>

<section class="products best-sellers">
    <h1 class="best-sellers-title">Best Sellers</h1>
    <div class="products-grid">
        {{#each bestSellers}}
        <div class="product">
            <img src="/uploads/{{this.productImage}}" alt="Product image">
            <div class="title-wrapper">
                <a href="/product/view/{{id}}">
                    <h3 class="title">{{this.productName}}</h3>
                </a>
            </div>
            <p class="name">{{this.productName}}</p>
            <p class="price"><span style="vertical-align: super;">CDN$</span> {{this.price}}</p>
            <p class="description">{{this.description}}</p>
            {{#if this.isBestSeller}}
            <div class="best-seller">Best Seller!</div>
            {{/if}}
        </div>
        {{/each}}
    </div>
</section>