<form class="sign-up-form" action="/user/sign-up" method="POST">
    <h3>Sign Up</h3>
    <div class="fields">
        <input type="text" placeholder="First Name" class="txtb" name="firstName" value="{{this.firstName}}">
        <input type="text" placeholder="Last Name" class="txtb" name="lastName" value="{{this.lastName}}">
        <input type="email" placeholder="Email" class="txtb" name="email" value="{{this.email}}">
        <input type="password" placeholder="Password" class="txtb" name="password" value="{{this.password}}">
        <input type="submit" value="Create Account" class="signup-btn">
        <div class="errors">
            {{#each errors}}
            <div class="error">{{this}}</div>
            {{/each}}
        </div>
    </div>
    <div class="links">
        <a href="./login">Already have an account?</a>
    </div>
</form>