<section class="products">
    <h2>Products</h2>
    <div class="search">
        <form class="search-form" method="POST" action="/product/search" enctype="multipart/form-data">
            <select name="category" id="category" value="{{retain}}All">
                <option>All</option>
                <option>Computers</option>
                <option>Tablets</option>
                <option>Accessories</option>
                <option>Headphones</option>
                <option>Cameras</option>
            </select>
            <input type="text" name="search" id="search" placeholder="Search products...">
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="products-grid">
        {{#each data}}
        <div class="product">
            <img src="/uploads/{{this.productImage}}" alt="Product image">
            <div class="title-wrapper">
                <a href="/product/view/{{id}}">
                    <h3 class="title">{{this.productName}}</h3>
                </a>
                {{#if this.isBestSeller}}
                <div class="best-seller">Best Seller!</div>
                {{/if}}
            </div>
            <p class="price"><span style="vertical-align: super;">CDN$</span> {{this.price}}</p>
            <p class="description">{{this.description}}</p>
        </div>
        {{/each}}
    </div>
</section>