<section class="product">
    <div class="image">
        <img class="product-image" src="/uploads/{{productImage}}" alt="Image for {{productName}}">
    </div>
    <div class="details">
        <div class="primary-info">
            <h2>{{productName}}</h2>
            <p><span class="currency">$CAD</span>{{price}}</p>
        </div>
        <div class="secondary-info">
            <p class="description">{{description}}</p>
            <p class="quantity">Only {{quantity}} left. Buy now!</p>
        </div>
        <button class="btn-add-to-cart">ADD TO CART</button>
    </div>
</section>